.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.about.left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about p{
    margin: 0.2rem 0;
}
.about button{
    margin: 1rem 0;
    padding: 9px;
}

.content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
