.mask{
    width: 100;
    height: 120vh;
    /* position: relative; */
}

.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-color: #e8e8e8; /* Set background color for hero section */
    position: relative;
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e8e8e8;
    opacity: 0.8;
}

.hero {
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;

}



.hero .content{
    position: absolute;
    transform: translate(-30%,-70%);
    top: 50%;
    left: 20%;
    text-align: center;
    
}

.hero .content h1{
    font-size: 6rem;
    padding: 0.6rem 0 1.5rem;
}

.hero .content p{
    font-size: 1.4rem;
    font-weight: 200;
    
}

.content .btn{
    margin: 1rem 0.2rem;
}

button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}


@media screen and (max-width:640){
    .hero .content h1{
        font-size: 3rem;
    }
    
    .hero .content p{
        font-size: 1.4rem;
    }
    
}

.container {
    display: flex;
    justify-content:center; /* Aligns items to the left */
}

.dropcard {
    width: 120px;
    height: 100px;
    background-color: transparent;
    box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.158),
      10px 10px 20px rgba(0, 0, 0, 0.466),
      inset -10px -10px 10px 10px rgba(255, 255, 255, 0.897);
    border-radius: 51% 49% 62% 38% / 25% 57% 43% 75%;
    position: relative;
}

.dropcard::after, .dropcard::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.842);
}

.dropcard::after {
    width: 10px;
    height: 10px;
    border-radius: 80% 20% 91% 9% / 48% 67% 33% 52%;
    top: 40px;
    left: 40px;
}

.dropcard::before {
    width: 20px;
    height: 20px;
    border-radius: 48% 52% 45% 55% / 48% 67% 33% 52%;
    top: 35px;
    left: 60px;
}
/* HeroImgStyles.css */

/* Existing styles */

.animated-text {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #090909;
    padding: 0.7em 1.7em;
    background: #e8e8e8;
    border-radius: 0.5em;
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* New styles for the specific <p> tag */

.hero .content p {
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: #333; /* Change text color */
}



.profile-img{
    position: absolute;
    top: 30%; /* Adjust as needed */
    left: 50%; /* Adjust distance from right edge */
    transform: translateY(-10%); /* Center vertically */
    animation: jump 2s infinite;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 10));
    width: 250px; /* Set desired width */
    height: 250px; /* Set desired height */

}

@media screen and (max-width: 1024px) {
    .profile-img {
        width: 160px; /* Further reduced width for smaller screens */
        height: 160px; /* Further reduced height for smaller screens */
        top: 5%; /* Adjusted top positioning */
        right: 5%; /* Adjust distance from right edge */
    }
}

@media screen and (max-width: 768px) {
    .profile-img {
        width: 150px; /* Further reduced width for smaller screens */
        height: 150px; /* Further reduced height for smaller screens */
        top: 50%; /* Adjusted top positioning */
        right: 100%; /* Adjust distance from right edge */
    }
}



@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Reduced bounce height */
    }
}



.aboutcard {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 400px;
    margin-top: -190px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(116, 116, 116, 0.2);
    padding: 12px;
    overflow: hidden;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* border: 2px solid #717171; */
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.aboutcard:hover {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border-color: #0974f1;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    color: #403f3f;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardcontent .cardheading {
    font-weight: 70;
    color: #333;
    font-size: 18px;
    align-items: center;
}

.cardcontent .cardpara {
    line-height: 1.5;
    color: #424141;
    align-items: center;
}

.cardcontent .cardbtn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #0974f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cardcontent .cardbtn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.cardcontent .cardbtn:active {
    box-shadow: none;
}

/* Time line education */

*, *::after, *::before {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
  }
  
  p {
    line-height: 1.8;
  }
  
  time {
    line-height: 1.6;
  }
  
  body {
    min-width: 375px;
  
    font-family: "Poppins", sans-serif;
  
    background-color: #f1f1f1;
    color: #1a1a1a;
  }
  
  main {
    min-height: 100vh;
    
    display: grid;
    place-content: center;
    
    padding : 1rem;
  }
  
  /* ===================== */
  /* ===================== */
  
  /* Timeline */
  /* Code Here ↓ */

  .education-heading{
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: #333; 
    display: flex;
    margin-top: 220px;
    justify-content: center;
    align-items: center;

  }
 .formore{
    margin: auto;
    margin-top: 17px;
    font-size: 1rem;
    align-items: center;
    margin-left: 530px;
 }
  
  .timeline {
    padding: 3rem 2rem;
    
    max-width: 460px;
    border-radius: 12px;
    /* display: flex; */
    justify-content: center; 
    align-items: center;
    margin: auto;
    margin-top: 20px;
    
    /* background-color: white; */
    /* box-shadow: 0 4px 25px -20px rgba(0,0,0.2); */
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .tl-content .tl-header, 
  .tl-content .tl-body {
    padding-left: 25.6px;
    
    border-left: 3px solid gainsboro;
  }
  
  .tl-body {
    padding-bottom:1rem;
  }
  
  .tl-content:last-child .tl-body {
    border-left: 3px solid transparent;
  }
  
  .tl-header {
    position: relative;
    display: grid;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .tl-title {
    font-weight: 600;
    font-size: 1em;
    
    border-bottom: 1px solid gainsboro;
  }
  
  .tl-time {
    font-size: 0.7em;
  }
  
  .tl-marker {
    display:block;
    position: absolute;
  
    width: 16px;
    height: 16px;
    border-radius: 50% / 50%;
    
    background: gainsboro;
    
    left: -1.1rem;
    top: 50%;
    
    transform: translate(50%,-50%);
  }
  
  .tl-content-active .tl-marker {
    padding: 1.6px;
    
    left: -1.25rem;
    
    width: 18px;
    height: 18px;
    
    border: 2px solid limegreen;
    
    background-color: limegreen;
    background-clip: content-box;
    
    box-shadow: 0 0 15px -2px limegreen;
  }
  
  .tl-content-active .tl-title {
    font-weight: 700;
    
    color: green;
  }
  
  /* Code Here ↑ */
  /* Timeline */
  
  /* ==================== */

  /* Projects */

  /* icon button */
  .button-icon {
    margin: auto;
    margin-top: 6%;
    display: flex;
    /* border: 3px #fff solid; */
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  
  .icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
  }
  
  .icon svg {
    width: 25px;
    height: 25px;
  }
  
  .cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 30px;
  }
  
  .button-icon:hover {
    border-color: #0f0f0f;
  }
  
  .button-icon:hover .cube {
    transform: rotateX(90deg);
  }
  
  .side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
  
  .top {
    background: #ff98a2;
    height: 40px;
    /* margin-top: -80px; */
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
  }
  
  .front {
    background: #222229;
    height: 44px;
    color: #fff;
    transform: translate3d(0, 0, 1em);
  }
  
  /* icon button */
  .projectcard {
    --font-color: #323232;
    --bg-color: #e0e0e0;
    
    width: 250px;
    margin: auto;
    margin-top: 5%;
    height: 350px;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #5a5a5a,
                9px -9px 18px #ffffff;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
  }
  
  .projectcard:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .projectcard__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
  }
  
  .projectcard__descr-wrapper {
    padding: 15px;
    display: grid;
  }
  
  .projectcard__title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
  }
  
  .projectcard__descr {
    color: var(--font-color);
  }
  
  .svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .projectcard__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }
  
  .projectcard__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .projectcard__links .link:hover {
    text-decoration: underline;
  }
  /* github button below */
  .btngt {
    display: grid;
    margin: auto;
    place-items: center;
    background: #e3edf7;
    width: 120px;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .btngt:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .btngt svg {
    transition: transform 0.5s;
  }
  
  .btngt:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
  
  /* Experience */

  .timelineexp {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timelineexp:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timelineexp li {
    padding: 1em 0;
  }
  
  .timelineexp li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timelineexp {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timelineexp li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
  /* @media screen and (min-width: 400px ?? max-width: 660px) {  
  .direction-l .desc,
  .direction-r .desc {
      margin: 1em 4em 0 4em;
  }
  
  } */

  /* tech stack */

  .techstack{
    margin: auto;
    margin-left: 30%;
    display: flex;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --bg-clr: #e8e8e8;
  }
  .techstack .body {
    min-height: 100svh;
    display: grid;
    place-content: center;
    background-color: var(--bg-clr);
  }
  
  .carousel-wrapper {
    --width: 100px;
    --gap: 0;
    --num-items: 10;
    --ani-offset: calc(var(--width) * var(--num-items) * -1);
    --ani-speed: 10s;
    
    width: 400px;
    overflow: hidden;
    position: relative;
  }
  .carousel-wrapper::before,
  .carousel-wrapper::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 1;
    top: 0;
  }
  .carousel-wrapper::before{
    left: 0;
    background-image: linear-gradient(to right,var(--bg-clr) 0%,transparent 50%);
  }
  .carousel-wrapper::after{
    right: 0;
    background-image: linear-gradient(to left,var(--bg-clr) 0%,transparent 50%);
  }
  
  .carousel {
    display: flex;
    align-items: center;
    animation: slide var(--ani-speed) linear infinite;
  }
  .item{
    flex: 1 0 var(--width);
    text-align: center;
    padding:1rem;
  }
 
  .item > img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @keyframes slide {
    100% {
      transform: translateX(var(--ani-offset));
    }
  }
  /* Skill percentage */
  .skillcontainer {

    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    position: relative;
    margin-left: 26%;
    max-width: 500px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
  }
  
  .skillcontainer .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(54, 54, 54);
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(236, 236, 236, 0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: rgb(78, 78, 78);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
    /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.1s;
  }
  
  .skill-per.scss {
    /*progreso de las diferentes lenguajes*/
    width: 80%;
    animation-delay: 0.1s;
  }
  
  .skill-per.Boostrap {
    /*progreso de las diferentes lenguajes*/
    width: 60%;
    animation-delay: 0.2s;
  }
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(24, 24, 24);
    z-index: 1;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%) rotate(45deg);
  }
  /* follow me on icons */
  
  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    /* background: #fff; */
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
    border-radius: 50%;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  .followme{
    margin: auto;
    margin-top: 17px;
    font-size: 1rem;
    align-items: center;
    margin-left: 530px;
  }
  
