/* Header.css */
.header-bg {
    background-color: rgba(219, 146, 146, 0.85);
    transition: 0.5s;
    color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-menu-item {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none; 
  }
  
  .get-started-button {
    background-color: #61dafb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  