/* src/HomePage.css */
.home {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(255, 254, 254);
  max-width: 1920px; /* Limit the maximum width to 1920px */
  margin: 0 auto; /* Center-align the content horizontally */
}

.get-started-button {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Update the styles for the hero section */
.hero {
  background-image: url('back.jpg');
  background-size: cover;
  display: flex;
  color: #fff;
  height: 55vh;
  width: 97.5vw;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Update the styles for other sections to match the desktop size */
.features,
.foot,
.testimonials,
.templates {
  height: 55vh;
  width: 97.5vw;
}

.templates-section {
  margin-bottom: 300px;
}